# ===========================
# APP CONFIGURATION
# ===========================
APP_NAME="MY RAG"
APP_PORT="8000"

# ===========================
# APP CONFIGURATION
# ===========================
DB_HOST="db"
DB_PORT="5432"
DB_USERNAME="postgres"
DB_PASSWORD="postgres"
DB_DATABASE="ragdb"